body {
  font-family: Helvetica;
  padding: 3%;
  color: white;
  overflow: hidden;
  background: #222222;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: rgb(4,196,106);
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover{
  opacity: 1;
}

input, select {
  width: 100%;
  margin-bottom: 1px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

form {
  display: flex;
  flex-direction: column;
}

label{
  display: flex;
  flex-direction: column;
}

.todo-wrapper{
  background-color: #353434;
  padding: 3%;
  border: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  max-height: 85vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.filter, .search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div{
  flex: 1 1 0;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background-color: #212121;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo .botoes {
  display: flex;
  flex-direction: column;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  label {
    font-size: .9rem;
  }
  
  .filter-options {
    gap: 1rem;
  }
  button {
    margin-bottom: 10px;
  }
}


@media (min-width: 800px) {
  .todo-wrapper {
    width: 700px;
  }
}